{
  "extends": "airbnb",
  "parser": "@babel/eslint-parser",
  "rules": {
    "max-len": [
      "error",
      { "code": 200, "comments": 200 }
    ],
    "no-unused-expressions": "off",
		"no-param-reassign": "off",
    "react/prefer-es6-class": ["error", "always"],
    "indent": [
      "error", "tab"
    ],
	"no-tabs": ["error", { "allowIndentationTabs": true }],
    "operator-linebreak": ["error", "after"],
    "no-underscore-dangle": ["error", { "allow": ["_data", "_id", "__LOCAL__", "__DEV__", "_router", "__dirname", "_n", "_v", "_tenant"] }],
    "no-console": ["error", { "allow": ["warn", "error", "info"] }],
    "import/prefer-default-export": 2,
    "camelcase": 2
  },
  "env": {
    "browser": false,
    "node": true
  },
   "parserOptions": {
    "ecmaVersion": 2023,
    "requireConfigFile": false
  },
  "globals": {
    "__DEV__": true,
    "FormData": true,
    "fetch": true,
		"test": true,
    "Headers": true,
    "Request": true,
    "XMLHttpRequest": true,
    "File": true,
		"module": true,
		"process": true,
		"require": true,
		"__dirname": true
  }
}
