{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "camelcase": 0,
    "class-methods-use-this": 0,
    "max-len": 0,
    "new-cap": 0,
    "no-console": ["error", { allow: ["warn", "error", "info"] }],
    "no-use-before-define": ["error", { "functions": false, "classes": true }],
    "no-useless-escape": 0,
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "import/prefer-default-export": 0,
    "guard-for-in": 0,
    "indent": ["error", 2],
  },
   "env": {
        "browser": false,
        "node": true
    }
}
